<h3>Usuarios en línea :</h3>
<hr>

<div class="list-group mt-1">
    <!--  <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a> -->
    <div *ngFor="let usuario of usuariosConectadosObservable | async" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{usuario.id}}</h5>
        </div>
        <p class="mb-1">{{usuario.nombre}}</p>
        <small class="text-muted">{{usuario.sala}}</small>
    </div>
</div>